#main{
    margin-top:calc( var(--header-height) + 1rem);
    width: 80%;
    height: 1000px;
    background: green;
    /* margin-top: 10px; */
}
.mn-category{
    background: rgb(249, 249, 249);
}

.mn-category__list{
    padding: 0;
}

.mn-category__item{
    list-style: none;
}